<!--======================  NAVBAR  ============================-->
<nav class="navbar navbar-default" role="navigation" ng-controller="NavbarCtrl as navctrl">

    <!-- Brand and toggle get grouped for better mobile display -->

    <div class="navbar-header">


        <button type="button" class="navbar-toggle" ng-init="navCollapsed = true"
                ng-click="navCollapsed = !navCollapsed">

            <span class="sr-only">Toggle navigation</span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>

        </button>

        <a class="navbar-brand" href="/">Dentest</a>

    </div>


    <!-- Collect the nav links, forms, and other content for toggling -->

    <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'" ng-click="navCollapsed = true">


        <ul class="nav navbar-nav">

            <li><a href="/questions">Questions</a></li>

            <li><a href="#">Quiz</a></li>

            <li><a href="#">About</a></li>


        </ul>

        <ul class="nav navbar-nav navbar-right">

            <li class="active" ng-hide="navctrl.is_logged_in() == true"><a href="/signup">Sign Up</a></li>

            <li class="dropdown" ng-show="navctrl.is_logged_in() == true">

                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> {{navctrl.get_username()}} <b class="caret"></b></a>

                <ul class="dropdown-menu">

                    <li><a href="/update_profile">Manage my user details</a></li>

                    <li><a href="/password_reset">Change password</a></li>

                    <li><a href="#">Manage my subscription</a></li>

                    <li class="divider"></li>

                    <li><a ng-click="navctrl.logout()">Logout</a></li>
                </ul>

            </li>

        </ul>

    </div>
    <!-- /.navbar-collapse -->

</nav>