<form name="password_reset_request_form" ng-controller="PasswordResetFormCtrl as pswdRstRqstCtrl" ng-submit="pswdRstRqstCtrl.password_reset()">
     <div class="form-group">
        <label for="password_reset_request_form_username">Username</label>
        <input type="text"
               id="password_reset_request_form_username"
               class="form-control"
               name="password_reset_request_username"
               ng-model="pswdRstRqstCtrl.reset_details.username"
               required
               placeholder="Username">
    </div>

    <div class="form-group">
        <label for="password_reset_request_form_email">Email</label>
        <input type="email"
               id="password_reset_request_form_email"
               class="form-control"
               name="password_reset_request_email"
               ng-model="pswdRstRqstCtrl.reset_details.email"
               required
               placeholder="example@youremail.com">
    </div>

    <div class="form-group">
        <label for="password_reset_request_form_first_name">First Name</label>
        <input type="text"
               id="password_reset_request_form_first_name"
               class="form-control"
               name="password_reset_request_first_name"
               ng-model="pswdRstRqstCtrl.reset_details.first_name"
               required
               placeholder="Joe">
    </div>

    <div class="form-group">
        <label for="password_reset_request_form_last_name">Surname</label>
        <input type="text"
               id="password_reset_request_form_last_name"
               class="form-control"
               name="password_reset_request_last_name"
               ng-model="pswdRstRqstCtrl.reset_details.last_name"
               required
               placeholder="Bloggs">
    </div>

    <div class="errors">
        <ul ng-repeat="error in pswdRstRqstCtrl.non_field_errors">
            <li>{{error}}</li>
        </ul>
    </div>

    <input class="btn btn-default" type="submit" value="Reset Password" ng-disabled="password_reset_request_form.$invalid"/>



</form>