<form name="password_reset_request_form" ng-controller="PasswordResetFormCtrl as pswdRstRqstCtrl"
      ng-submit="pswdRstRqstCtrl.password_reset()">

    <div class="panel panel-primary">
        <div class="panel-heading">
            Password Reset
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label for="password_reset_request_form_username">Username</label>
                <input type="text"
                       id="password_reset_request_form_username"
                       class="form-control"
                       name="password_reset_request_username"
                       ng-model="pswdRstRqstCtrl.reset_details.username"
                       required
                       placeholder="Username">
            </div>

            <div class="errors">
                <ul ng-repeat="error in pswdRstRqstCtrl.non_field_errors">
                    <span class="text-danger">{{error}}</span>
                </ul>
            </div>

            <input class="btn btn-primary" type="submit" value="Reset Password"
                   ng-disabled="password_reset_request_form.$invalid"/>
        </div>
    </div>
</form>