<div class="col-md-12" ng-controller="SelectContentCtrl as sCtrl">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3>Select Quiz Content</h3>
        </div>
        <div class="panel-body">
            <div class="panel panel-info">
                <div class="panel-body">
                    <p>Choose a set of topics and a maximum number of questions in your quiz. Dentest will do it's best
                        to create
                        a quiz containing a random set of questions distributed among the chosen topics. If the topics
                        you select
                        dont contain enough questions between them to satisfy the maximum questions you desire, Dentest
                        will return all
                        questions from the selected topics.</p>
                </div>
            </div>

            <div style="font-size:larger">
                <div ng-repeat="topic in sCtrl.topic_list">
                    <label>{{topic.topic}}</label> <input type="checkbox" ng-model="topic.include"
                                                          ng-change="sCtrl.selectSubtopicsOfTopic(topic.topic)"/>
                    <br/>
                    <ul>
                        <li ng-repeat="subtopic in topic.subtopics">
                            <!-- add ng-change to get realtime updates -->
                            <label>{{ subtopic.name }}</label> <input type="checkbox" ng-model="subtopic.include">
                        </li>
                        <br/>
                    </ul>
                </div>
            </div>
            <div>
                <label>Max Questions</label>
                <input type="number" ng-value="sCtrl.maxQuestions" min="10" max="100">
            </div>
            <br/>
            <btn class="btn btn-primary" ng-click="sCtrl.generateNewQuiz()">Confirm</btn>
        </div>
    </div>
</div>


