<form name="password_reset_confirm_form" ng-controller="PasswordResetConfirmFormCtrl as confirmCtrl" ng-submit="confirmCtrl.password_reset_confirm()">
      <div class="form-group">
        <label for="password_reset_confirm_form_password1">Password</label>
        <input type="password"
               id="password_reset_confirm_form_password1"
               class="form-control"
               name="password_reset_confirm_password1"
               ng-model="confirmCtrl.registration_details.password1"
               required
               placeholder="Password">

        <div class="errors">
            <ul ng-repeat="error in confirmCtrl.password1_errors">
                <li>{{error}}</li>
            </ul>
        </div>
    </div>

    <div class="form-group">
        <label for="password_reset_confirm_form_password2">Confirm Password</label>
        <input type="password"
               id="password_reset_confirm_form_password2"
               class="form-control"
               name="password_reset_confirm_password2"
               ng-model="confirmCtrl.registration_details.password2"
               required
               placeholder="Confirm Password">

        <div class="errors">
            <ul ng-repeat="error in confirmCtrl.password2_errors">
                <li>{{error}}</li>
            </ul>
        </div>
    </div>

    <div class="form-group">
        <input class="btn btn-default" type="submit" value="Reset Password" ng-disabled="password_reset_confirm_form.$invalid">
    </div>
    
    
    
    
</form>